# Auto detect text files and perform LF normalization
* text=auto
*.jpg -text
*.png -text
*.zip -text
*.gif -text
*.babylon -text
*.dds -text
*.glb -text
*.mp3 -text
*.data -text
*.wasm -text
*.blend1 -text
*.blend -text
