        .output {
            margin-top: 20px;
            font-size: 1.2rem;
        }
        @font-face {
        font-family: 'ThirdParty';
        src: url('thirdpar.ttf') format('truetype'); /* Specify the path to the TTF file */
        font-weight: normal; /* Adjust as necessary */
        font-style: normal; /* Adjust as necessary */
        }
        @font-face {
            font-family: 'Heiko';
            src: url('heiko.ttf') format('truetype'); /* Specify the path to the TTF file */
            font-weight: normal; /* Adjust as necessary */
            font-style: normal; /* Adjust as necessary */
        }
        @font-face {
            font-family: 'Tomorrow';
            src: url('Tomorrow-Regular.ttf') format('truetype'); /* Specify the path to the TTF file */
            font-weight: normal; /* Adjust as necessary */
            font-style: normal; /* Adjust as necessary */
        }
        @font-face {
            font-family: 'Chargen';
            src: url('fonts/6809-Chargen.otf') format('opentype'),
            font-weight: normal;
            font-style: normal;
          }
          @font-face {
            font-family: 'BERGAN';
            src: url('fonts/BERGAN.otf') format('opentype'),
            font-weight: normal;
            font-style: normal;
          }
          @font-face {
            font-family: 'BIONICKIDSIMPLESLANTED';
            src: url('fonts/BIONICKIDSIMPLESLANTED.ttf') format('truetype'),
            font-weight: normal;
            font-style: normal;
          }
          @font-face {
            font-family: 'KogniGear';
            src: url('fonts/KogniGear.ttf') format('truetype'),
            font-weight: normal;
            font-style: normal;
          }
          @font-face {
            font-family: 'Meladiox';
            src: url('fonts/Meladiox.otf') format('opentype'),
            font-weight: normal;
            font-style: normal;
          }
          @font-face {
            font-family: 'mionta';
            src: url('fonts/mionta.ttf') format('truetype'),
            font-weight: normal;
            font-style: normal;
          }
          @font-face {
            font-family: 'NCLBRAYQOSE';
            src: url('fonts/NCLBRAYQOSE.otf') format('opentype'),
            font-weight: normal;
            font-style: normal;
          }
          @font-face {
            font-family: 'NCLGesrob';
            src: url('fonts/NCLGesrob.otf') format('opentype'),
            font-weight: normal;
            font-style: normal;
          }
          @font-face {
            font-family: 'sector_034';
            src: url('fonts/sector_034.ttf') format('truetype'),
            font-weight: normal;
            font-style: normal;
          }
          @font-face {
            font-family: 'Univox';
            src: url('fonts/Univox.otf') format('opentype'),
            font-weight: normal;
            font-style: normal;
          }
          @font-face {
            font-family: 'VT323-Regular';
            src: url('fonts/VT323-Regular.ttf') format('truetype'),
            font-weight: normal;
            font-style: normal;
          }
          @font-face {
            font-family: 'Xirod';
            src: url('fonts/Xirod.otf') format('opentype'),
            font-weight: normal;
            font-style: normal;
          }
          

        .heading {
            color: #e80f0fcc; 
            text-size-adjust: relative;
        }
        h1 {
            text-align: left;
            margin: 0;
            padding: 0;
            font-family: 'ThirdParty', sans-serif; /* Fallback to a generic font */
        }
        h2 {
            text-align: left;
            margin: 0;
            padding: 0;
            font-size: 1.0rem !important; 
            color: white !important;
            font-family: 'Heiko', sans-serif; /* Fallback to a generic font */
        }
        h3 {
            text-align: left;
            color: #e80f0fcc; 
            margin: 0;
            padding: 0;
            font-size: 1.75rem !important; 
            color: white !important;
            font-family: 'BIONICKIDSIMPLESLANTED', sans-serif; /* Fallback to a generic font */
        }
        h4 {
            text-align: left;
            margin: 0;
            padding: 0;
            font-size: 1.55rem !important; 
            color: white !important;
            font-family: 'NCLGesrob', sans-serif; /* Fallback to a generic font */
        }
        h5 {
            text-align: left;
            margin: 0;
            padding: 0;
            font-size: 1.25rem !important; 
            color: white !important;
            font-family: 'sector_034', sans-serif; /* Fallback to a generic font */
        }
        body {
          position: relative;
          background-image: url('http://www.entropyworship.com/images/EW_Second_Law_Cover_W_Aerotek_Logo.png'); 
          background-size: cover;
          background-position: center;
          color: white !important;
          text-align: left;
          margin: 0;
          padding: 0;
          font-family: 'Tomorrow', sans-serif; 
          background-attachment: fixed; /* For desktop */
        }
        a {
            text-decoration: none;
        }
        .transparent-bg {
        background-color: transparent !important;
        }
        select { margin: 10px 0; }
        .results { margin-top: 20px; }
        #volumeSlider { width: 100%; }
        .modal-content {
            background-color: black !important; /* Set the background to black */
            color: white; /* Make text color white for contrast */
            opacity: 75%;
        }

        .modal-header {
            border-bottom: 1px solid #444; /* Optional: Adjust the modal header's border */
        }

        .modal-body {
            color: white; /* Ensure text within the body is also white */
        }

        .modal-footer {
            border-top: 1px solid #444; /* Optional: Adjust the modal footer's border */
        }

        .btn-close {
            color: white; /* Change close button color to white */
        }
        .btn-primary {
            color: white; /* Change close button color to white */
        }
        /* Landscape prompt styles */
        .landscape-prompt {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            display: none; /* Hidden by default */
            justify-content: center;
            align-items: center;
            text-align: center;
            z-index: 1000; /* Ensures it sits above other elements */
        }