.crypt-button {
  --button-color: var(--primary);
  --idle-bg-color: var(--neutral--light-2);
  --hover-bg-color: var(--neutral--light-4);
  --active-bg-color: var(--neutral--light-2);
  --active-border-color: var(--primary--dark-1);

  /* Reset default/browser styles */
  box-shadow: none;
  border: none;
  margin: 0;
  font-family: var(--font-primary);

  cursor: pointer;
  color: var(--button-color);
  padding: 0.5rem 1rem;
  border: 1px solid var(--button-color);
  border-radius: 0.2rem;
  background-color: var(--idle-bg-color);

  &:hover {
    background-color: var(--hover-bg-color);
    text-shadow: 0 0 0.2rem var(--button-color);
  }
  &:active {
    background-color: var(--active-bg-color);
    border-color: var(--active-border-color);
  }

  /* Round button */
  &.round {
    border-radius: 2rem;
  }

  /* States */
  &.secondary {
    --button-color: var(--secondary);
    --idle-bg-color: var(--neutral-secondary--light-1);
    --hover-bg-color: var(--neutral-secondary--light-2);
    --active-bg-color: var(--neutral-secondary--light-1);
    --active-border-color: var(--secondary--dark-1);
    &:hover {
      color: var(--secondary--light-1);
    }
  }

  &.success {
    --button-color: var(--success);
    --idle-bg-color: var(--neutral-success--light-1);
    --hover-bg-color: var(--neutral-success--light-2);
    --active-bg-color: var(--neutral-success--light-1);
    --active-border-color: var(--success--dark-1);
  }

  &.danger {
    --button-color: var(--danger);
    --idle-bg-color: var(--neutral-danger--light-1);
    --hover-bg-color: var(--neutral-danger--light-2);
    --active-bg-color: var(--neutral-danger--light-1);
    --active-border-color: var(--danger--dark-1);
    &:hover {
      color: var(--danger--light-2);
    }
  }
}
$active-text-shadow: 0 0 0.15rem var(--text-color);
$active-shadow: 0 0 0.25rem var(--border-color);

.crypt-attribute-bar {
  --border-color: var(--primary--dark-2);
  --text-color: var(--primary);
  --bar-color: var(--neutral--light-2);
  --bar-value-color: var(--primary--dark-3);

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 0.3rem;
  align-items: center;
  position: relative;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  background-color: var(--bar-color);

  .attribute-value {
    padding: 0;
    margin: 0;
    z-index: 2;
    width: 100%;
    color: var(--text-color);
    border: none;
    background-color: transparent;
    box-shadow: none;
    height: 100%;
    outline: none;

    &.left {
      text-align: right;
    }

    &.right {
      text-align: left;
    }

    &::placeholder {
      color: var(--text-color);
      opacity: 0.5;
    }
  }

  .slash {
    z-index: 2;
    user-select: none;
    color: var(--text-color);
  }

  progress {
    z-index: 1;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    pointer-events: none;
    &::-webkit-progress-bar {
      background-color: transparent;
    }
    &::-moz-progress-bar {
      background-color: var(--bar-value-color);
    }
    &::-webkit-progress-value {
      background-color: var(--bar-value-color);
    }
  }

  &:focus-within {
    border: 1px solid var(--border-color);
    box-shadow: $active-shadow inset;
    .attribute-value {
      text-shadow: $active-text-shadow;
    }
  }

  &.secondary {
    --border-color: var(--secondary--dark-3);
    --text-color: var(--secondary);
    --bar-color: var(--neutral-secondary--light-1);
    --bar-value-color: var(--secondary--dark-3);
  }

  &.success {
    --border-color: var(--success--dark-3);
    --text-color: var(--success);
    --bar-color: var(--neutral-success--light-1);
    --bar-value-color: var(--success--dark-3);
  }

  &.danger {
    --border-color: var(--danger--dark-3);
    --text-color: var(--danger);
    --bar-color: var(--neutral-danger--light-1);
    --bar-value-color: var(--danger--dark-3);
  }
}
.crypt-chip {
    --chip-background-color: var(--neutral--light-4);
    --chip-text-color: var(--primary);
  
    background-color: var(--chip-background-color);
    color: var(--chip-text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 0px 0.4rem;
  
    font-size: 0.7rem;
    border-radius: 0.7rem;
  
    &.primary {
      --chip-background-color: var(--primary);
      --chip-text-color: var(--neutral);
    }
  
    &.secondary {
      --chip-background-color: var(--secondary);
      --chip-text-color: var(--neutral-secondary);
    }
  
    &.success {
      --chip-background-color: var(--success);
      --chip-text-color: var(--neutral-success);
    }
  
    &.danger {
      --chip-background-color: var(--danger);
      --chip-text-color: var(--neutral-danger--light-1);
    }
  }
  $active-text-shadow: 0 0 0.15rem var(--text-color);
  $active-circle-shadow: 0 0 0.25rem var(--text-color);
  
  .crypt-core-input {
    --border-color--idle: var(--primary--dark-3);
    --border-color--active: var(--primary);
    --text-color: var(--primary);
    --bg-color--idle: var(--neutral--light-1);
    --bg-color--active: var(--neutral--light-2);
  
    background-color: var(--bg-color--idle);
    border: 1px solid var(--border-color--idle);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &.large {
      width: 3rem;
      height: 3rem;
      input {
        font-size: 1.5rem;
      }
    }
  
    &.small {
      width: 2rem;
      height: 2rem;
      input {
        font-size: 1rem;
      }
    }
  
    input {
      border: none;
      background-color: transparent;
      color: var(--text-color);
      text-align: center;
      width: 100%;
      height: 100%;
      outline: none;
      font-family: inherit;
  
      &::placeholder {
        color: var(--text-color);
        opacity: 0.5;
      }
      &:focus {
        /* Foundry applies a box shadow to focused inputs */
        box-shadow: none;
      }
    }
  
    &:focus-within {
      background-color: var(--bg-color--active);
      border-color: var(--border-color--active);
      box-shadow: $active-circle-shadow inset;
      input {
        text-shadow: $active-text-shadow;
      }
    }
  
    &.secondary {
      --border-color--idle: var(--secondary);
      --border-color--active: var(--secondary--light-1);
      --text-color: var(--secondary--light-1);
      --bg-color--idle: var(--neutral-secondary);
      --bg-color--active: var(--neutral-secondary--light-1);
    }
    &.success {
      --border-color--idle: var(--success);
      --border-color--active: var(--success--light-1);
      --text-color: var(--success--light-1);
      --bg-color--idle: var(--neutral-success);
      --bg-color--active: var(--neutral-success--light-1);
    }
    &.danger {
      --border-color--idle: var(--danger);
      --border-color--active: var(--danger--light-1);
      --text-color: var(--danger--light-1);
      --bg-color--idle: var(--neutral-danger);
      --bg-color--active: var(--neutral-danger--light-1);
    }
  }
  $active-text-shadow: 0 0 0.15rem var(--primary);

  .crypt-form-label {
    text-transform: uppercase;
    font-weight: bold;
    font-family: inherit;
    white-space: nowrap;
  }
  
  .crypt-form-label-muted {
    @extend .crypt-form-label;
    font-size: 0.8rem;
    opacity: 0.5;
  }
  
  .crypt-form-input {
    color: inherit;
    font-size: 1rem;
    font-family: inherit;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    &:focus,
    &:focus-within,
    &:focus-visible {
      outline: none;
      text-shadow: $active-text-shadow;
      &::placeholder {
        text-shadow: none;
      }
    }
    &::placeholder {
      color: inherit;
      opacity: 0.5;
    }
  }
  
  .crypt-form-field {
    display: flex;
    align-items: baseline;
    gap: 0.3rem;
    padding: 0.5rem 0.1rem;
    border-bottom: 1px solid var(--neutral--light-2);
    &:focus-within {
      border-color: var(--primary--dark-3);
      text-shadow: $active-text-shadow;
    }
  
    label {
      @extend .crypt-form-label;
      cursor: pointer;
    }
    input,
    select {
      @extend .crypt-form-input;
      text-align: right;
      flex-grow: 1;
    }
  
    /* Select Specific */
    select {
      min-width: 150px;
    }
    option {
      color: initial;
      text-shadow: none;
    }
  
    &.no-label {
      input {
        text-align: center;
      }
    }
  
    &.stacked {
      flex-direction: column;
      &:focus-within {
        label {
          text-shadow: none;
        }
      }
  
      label {
        @extend .crypt-form-label-muted;
      }
  
      input,
      select {
        text-align: left;
      }
      select {
        width: 100%;
      }
    }
  
    &.full {
      --border-inactive: var(--primary--dark-3);
      --border-active: var(--primary);
  
      border: 1px solid var(--border-inactive);
      border-radius: 0.2rem;
      padding: 0.3rem;
      align-items: center;
  
      input,
      select {
        text-align: left;
      }
  
      .icon {
        opacity: 0.5;
        height: 1rem;
        width: 1rem;
      }
  
      &:focus-within {
        border-color: var(--border-active);
        .icon {
          opacity: 0.7;
        }
      }
    }
  
    &.count {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      width: 8rem;
      input {
        text-align: center;
        font-size: 2.5rem;
        font-family: var(--font-accent);
        width: 100%;
        letter-spacing: 1px;
      }
      label {
        @extend .crypt-form-label-muted;
        font-size: 1rem;
        font-weight: 300;
        text-transform: none;
        letter-spacing: 1px;
      }
      &:focus-within {
        box-shadow: 0 0 4px inset var(--primary);
      }
    }
  }
  .crypt-tabs {
    --border-inactive: var(--neutral--light-2);
    --border-active: var(--primary);
    --text-inactive: var(--primary--dark-1);
    --text-active: var(--primary);
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  
    .crypt-tab {
      cursor: pointer;
      color: var(--text-inactive);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      border-left: 1px solid var(--border-inactive);
      border-right: 1px solid var(--border-inactive);
      border-bottom: 2px solid var(--border-inactive);
      text-shadow: 0 0 4px var(--text-inactive);
      font-weight: bold;
      letter-spacing: 0.1rem;
  
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
      &.active {
        border-bottom: 3px solid var(--border-active);
        color: var(--text-active);
        text-shadow: 0 0 4px var(--text-active);
        box-shadow: inset 0 -7px 9px -7px var(--text-active);
      }
    }
  
    &.small {
      .crypt-tab {
        padding: 0.5rem 1rem;
      }
    }
  
    &.secondary {
      --border-inactive: var(--neutral-secondary--light-2);
      --border-active: var(--secondary);
      --text-inactive: var(--secondary--dark-1);
      --text-active: var(--secondary);
    }
    &.success {
      --border-inactive: var(--neutral-success--light-2);
      --border-active: var(--success);
      --text-inactive: var(--success--dark-1);
      --text-active: var(--success);
    }
    &.danger {
      --border-inactive: var(--neutral-danger--light-3);
      --border-active: var(--danger);
      --text-inactive: var(--danger);
      --text-active: var(--danger);
    }
  }
  .crypt-toggle {
    --background-color-off: var(--neutral--light-1);
    --background-color-on: var(--neutral--light-2);
    --toggle-color-off: var(--neutral--light-4);
    --toggle-color-on: var(--primary);
    --toggle-width: 42px;
    --toggle-height: 24px;
    --slider-size: 18px;
    /* These are magic numbers, just play with them until it looks right */
    /* It absolutely will not be browser consistent. Just focus on chrome. */
    --slider-space-left: 2px;
    --slider-space-bottom: 2px;
  
    box-sizing: content-box;
    display: block;
    position: relative;
    width: var(--toggle-width);
    height: var(--toggle-height);
  
    .slider {
      box-sizing: content-box;
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid var(--toggle-color-off);
      background-color: var(--background-color-off);
      transition: all 0.4s;
  
      &::before {
        position: absolute;
        content: "";
        height: var(--slider-size);
        width: var(--slider-size);
        left: var(--slider-space-left);
        bottom: var(--slider-space-bottom);
        background-color: var(--toggle-color-off);
        transition: all 0.2s;
      }
    }
  
    input:checked + .slider {
      background-color: var(--background-color-on);
      box-shadow: 0 0 4px var(--toggle-color-off) inset;
    }
  
    input:checked + .slider::before {
      background-color: var(--toggle-color-on);
      opacity: 1;
      transform: translateX(var(--slider-size));
    }
  
    &.round {
      .slider {
        border-radius: var(--toggle-width);
      }
      .slider::before {
        border-radius: 50%;
      }
    }
  
    &.secondary {
      --background-color-off: var(--neutral-secondary);
      --background-color-on: var(--neutral-secondary--light-1);
      --toggle-color-off: var(--neutral-secondary--light-3);
      --toggle-color-on: var(--secondary);
    }
  
    &.success {
      --background-color-off: var(--neutral-success);
      --background-color-on: var(--neutral-success--light-1);
      --toggle-color-off: var(--neutral-success--light-3);
      --toggle-color-on: var(--success);
    }
  
    &.danger {
      --background-color-off: var(--neutral-danger);
      --background-color-on: var(--neutral-danger--light-1);
      --toggle-color-off: var(--neutral-danger--light-3);
      --toggle-color-on: var(--danger);
    }
  }
  .crypt-toggle-box {
    --box-background: var(--neutral);
    --box-color: var(--primary);
    --placeholder-color: var(--primary--dark-2);
  
    text-align: center;
    width: 1.2rem;
    height: 1.2rem;
  
    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 0.75rem;
      cursor: pointer;
      user-select: none;
      color: var(--placeholder-color);
      background-color: var(--box-background);
      border: 1px solid var(--box-color);
      line-height: 1;
    }
    input:checked ~ label {
      background-color: var(--box-color);
      color: var(--box-background);
    }
  
    &.round {
      border-radius: 50%;
      label {
        border-radius: 50%;
      }
    }
  
    /* States */
    &.secondary {
      --box-background: var(--neutral-secondary);
      --box-color: var(--secondary);
      --placeholder-color: var(--secondary--dark-1);
    }
  
    &.success {
      --box-background: var(--neutral-success);
      --box-color: var(--success);
      --placeholder-color: var(--success--dark-1);
    }
  
    &.danger {
      --box-background: var(--neutral-danger);
      --box-color: var(--danger);
      --placeholder-color: var(--danger--dark-1);
    }
  }
            