@@import url('imported_fonts.css');

button {
    font-family: "Tomorrow", sans-serif;
}

select {
    font-family: "Tomorrow", sans-serif;
}

table {
    font-family: "Courier", sans-serif;
}

.table {
    --bs-table-color: var(--bs-gray-600);
    --bs-table-bg: var(--bs-gray-100);
    --bs-table-border-color: transparent;
}

table {
    border-collapse: collapse;
}
tr {
    border: solid;
    border-width: 1px;
}
td {
    width: 60px;
    border: solid;
    border-width: 1px;
}
