/* /-\|/-\|/-\|/-\|/-\|/-\|/-\|/-\|/-\|/-\|/-\|/-\|/-\|/-\|/-\|/-\|/-\|/-\|/-\ */
/* |                                                                         | */
/* \ @@@@@@@@  @@@  @@@  @@@@@@@  @@@@@@@    @@@@@@   @@@@@@@   @@@ @@@      / */
/* - @@@@@@@@  @@@@ @@@  @@@@@@@  @@@@@@@@  @@@@@@@@  @@@@@@@@  @@@ @@@      - */
/* / @@!       @@!@!@@@    @@!    @@!  @@@  @@!  @@@  @@!  @@@  @@! !@@      \ */
/* | !@!       !@!!@!@!    !@!    !@!  @!@  !@!  @!@  !@!  @!@  !@! @!!      | */
/* \ @!!!:!    @!@ !!@!    @!!    @!@!!@!   @!@  !@!  @!@@!@!    !@!@!       / */
/* - !!!!!:    !@!  !!!    !!!    !!@!@!    !@!  !!!  !!@!!!      @!!!       - */
/* / !!:       !!:  !!!    !!:    !!: :!!   !!:  !!!  !!:         !!:        \ */
/* | :!:       :!:  !:!    :!:    :!:  !:!  :!:  !:!  :!:         :!:        | */
/* \  :: ::::   ::   ::     ::    ::   :::  ::::: ::   ::          ::        / */
/* - : :: ::   ::    :      :      :   : :   : :  :    :           :         - */
/* /                                                                         \ */
/* |                                                                         | */
/* \ @@@  @@@  @@@   @@@@@@   @@@@@@@    @@@@@@   @@@  @@@  @@@  @@@@@@@     / */
/* - @@@  @@@  @@@  @@@@@@@@  @@@@@@@@  @@@@@@@   @@@  @@@  @@@  @@@@@@@@    - */
/* / @@!  @@!  @@!  @@!  @@@  @@!  @@@  !@@       @@!  @@@  @@!  @@!  @@@    \ */
/* | !@!  !@!  !@!  !@!  @!@  !@!  @!@  !@!       !@!  @!@  !@!  !@!  @!@    | */
/* \ @!!  !!@  @!@  @!@  !@!  @!@!!@!   !!@@!!    @!@!@!@!  !!@  @!@@!@!     / */
/* - !@!  !!!  !@!  !@!  !!!  !!@!@!     !!@!!!   !!!@!!!!  !!!  !!@!!!      - */
/* / !!:  !!:  !!:  !!:  !!!  !!: :!!        !:!  !!:  !!!  !!:  !!:         \ */
/* | :!:  :!:  :!:  :!:  !:!  :!:  !:!      !:!   :!:  !:!  :!:  :!:         | */
/* \  :::: :: :::   ::::: ::  ::   :::  :::: ::   ::   :::   ::   ::         / */
/* -   :: :  : :     : :  :    :   : :  :: : :     :   : :  :     :          - */
/* /                                                                         \ */
/* |                                                                         | */
/* \-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/ */
.output {
    margin-top: 20px;
    font-size: 1.2rem;
}
@font-face {
    font-family: 'ThirdParty';
    src: url('thirdpar.woff2') format('woff2'),
            url('thirdpar.woff') format('woff'),
            url('thirdpar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Ensures fallback font is used until the custom font is loaded */
}

@font-face {
    font-family: 'Heiko';
    src: url('heiko.woff2') format('woff2'),
            url('heiko.woff') format('woff'),
            url('heiko.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-Regular.woff2') format('woff2'),
            url('Tomorrow-Regular.woff') format('woff'),
            url('Tomorrow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chargen';
    src: url('6809-Chargen.woff2') format('woff2'),
            url('6809-Chargen.woff') format('woff'),
            url('6809-Chargen.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BERGAN';
    src: url('BERGAN.woff2') format('woff2'),
            url('BERGAN.woff') format('woff'),
            url('BERGAN.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BIONICKIDSIMPLESLANTED';
    src: url('BIONICKIDSIMPLESLANTED.woff2') format('woff2'),
            url('BIONICKIDSIMPLESLANTED.woff') format('woff'),
            url('BIONICKIDSIMPLESLANTED.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KogniGear';
    src: url('KogniGear.woff2') format('woff2'),
            url('KogniGear.woff') format('woff'),
            url('KogniGear.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meladiox';
    src: url('Meladiox.woff2') format('woff2'),
            url('Meladiox.woff') format('woff'),
            url('Meladiox.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'mionta';
    src: url('mionta.woff2') format('woff2'),
            url('mionta.woff') format('woff'),
            url('mionta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NCLBRAYQOSE';
    src: url('NCLBRAYQOSE.woff2') format('woff2'),
            url('NCLBRAYQOSE.woff') format('woff'),
            url('NCLBRAYQOSE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NCLGesrob';
    src: url('NCLGesrob.woff2') format('woff2'),
            url('NCLGesrob.woff') format('woff'),
            url('NCLGesrob.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sector_034';
    src: url('sector_034.woff2') format('woff2'),
            url('sector_034.woff') format('woff'),
            url('sector_034.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univox';
    src: url('Univox.woff2') format('woff2'),
            url('Univox.woff') format('woff'),
            url('Univox.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VT323-Regular';
    src: url('VT323-Regular.woff2') format('woff2'),
            url('VT323-Regular.woff') format('woff'),
            url('VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Xirod';
    src: url('Xirod.woff2') format('woff2'),
            url('Xirod.woff') format('woff'),
            url('Xirod.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

    

.heading {
    color: #e80f0fcc; 
    text-size-adjust: relative;
}
h1 {
    text-align: left;
    margin: 0;
    padding: 0;
    font-family: 'ThirdParty', sans-serif; /* Fallback to a generic font */
}
h2 {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 1.0rem !important; 
    color: white !important;
    font-family: 'Heiko', sans-serif; /* Fallback to a generic font */
}
h3 {
    text-align: left;
    color: #e80f0fcc; 
    margin: 0;
    padding: 0;
    font-size: 1.75rem !important; 
    color: white !important;
    font-family: 'BIONICKIDSIMPLESLANTED', sans-serif; /* Fallback to a generic font */
}
h4 {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 1.55rem !important; 
    color: white !important;
    font-family: 'NCLGesrob', sans-serif; /* Fallback to a generic font */
}
h5 {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 1.25rem !important; 
    color: white !important;
    font-family: 'sector_034', sans-serif; /* Fallback to a generic font */
}
body {
    position: relative;
    background-image: url('http://www.entropyworship.com/images/EW_Second_Law_Cover_W_Aerotek_Logo.png'); 
    background-size: cover;
    background-position: center;
    color: white !important;
    text-align: left;
    margin: 0;
    padding: 0;
    font-family: 'Tomorrow', sans-serif; 
    background-attachment: fixed; /* For desktop */
}
a {
    text-decoration: none;
}
.transparent-bg {
background-color: transparent !important;
}
select { margin: 10px 0; }
.results { margin-top: 20px; }
#volumeSlider { width: 100%; }
.modal-content {
    background-color: black !important; /* Set the background to black */
    color: white; /* Make text color white for contrast */
    opacity: 75%;
}

.modal-header {
    border-bottom: 1px solid #444; /* Optional: Adjust the modal header's border */
}

.modal-body {
    color: white; /* Ensure text within the body is also white */
}

.modal-footer {
    border-top: 1px solid #444; /* Optional: Adjust the modal footer's border */
}

.btn-close {
    color: white; /* Change close button color to white */
}
.btn-primary {
    color: white; /* Change close button color to white */
}
/* Landscape prompt styles */
.landscape-prompt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000; /* Ensures it sits above other elements */
}